*{
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
    --col1:#a1c4fd;
    --col2:#c2e9fb;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
    background: linear-gradient(-120deg,#a1c4fd,#c2e9fb);
    z-index: 1;
    background-size: 400% 400%;
    animation: mov-back 5s ease infinite;
}

@keyframes mov-back{
  0%{
      background-position: 0% 50%;
  }
  30%{
      background-position: 100% 70%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}

.navbar h1{
    flex: 1;
    text-align: center;
}

.navbar a{
    text-decoration: none;
}


#btnVotaciones{
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    width: 150px;
    border-radius: 30px;
    color: var(--secondary-color);
    background: var(--hover-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    border: none;
    text-align: center;
    padding: 1em 1.8em;
}

#btnVotaciones:hover{
    cursor: pointer;
}

  body{
    width: 100vw;
    height: 100vh;
  }

h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
}
  
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}

.btn-custom{
  padding: 10px;
}

.daEstadistica{
  margin: 20px;
}

.numVotos{
  color: rgb(36, 113, 201);
}

.canva1{
  margin: 20px;
}

.canvaPie{
  width: 50px;
}

#canva1{
  width: 50vw;  
}

#carro1{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1250px) {
  #carro1{
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
}