*{
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
    --col1:#ff2323;
    --col2:#ff5757;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
    background: linear-gradient(-120deg,#ff2323,#ff5757);
    z-index: 1;
    background-size: 400% 400%;
    animation: mov-back 5s ease infinite;
}

@keyframes mov-back{
  0%{
      background-position: 0% 50%;
  }
  30%{
      background-position: 100% 70%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}

.navbar h1{
    flex: 1;
    text-align: center;
}

.navbar a{
    text-decoration: none;
}


#btnVotaciones{
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    width: 150px;
    border-radius: 30px;
    color: var(--secondary-color);
    background: var(--hover-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    border: none;
    text-align: center;
    padding: 1em 1.8em;
}

#btnVotaciones:hover{
    cursor: pointer;
}

  body{
    width: 100vw;
    height: 100vh;
  }

h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
}
  
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}

.btn-custom{
  padding: 10px;
}

.daEstadistica{
  margin: 20px;
}

.numVotos{
  color:#b10303;
}

.canva1{
  margin: 20px;
}

.canvaPie{
  width: 50px;
}

#canva1{
  width: 50vw;  
}

#carro1{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1250px) {
  #carro1{
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
}

.creditos {
  position: fixed;
  bottom: 0;
  right: 0;
	display: flex;
  justify-content: center;
	width: 450px;
	height: 50px;
	font-size: 20px;
	line-height: 40px;
	margin: -15px;
	overflow: hidden;
}

.c-fijo {
	list-style: none;
	padding-left: 10px;
	animation: cambiar2 9s infinite;
}

.c-fijo, .texto-creditos{
	margin: 0;
}

.texto-creditos{
  color: #111;
  font-size: 20px;
}

.c-cambio{
  color: #ff2323;
}

@keyframes cambiar2 {
	
	0%{ margin-top: 0;}
	10%{ margin-top: 0;}

  20%{ margin-top: -40px;}
	30%{ margin-top: -40px;}
  
	40% {margin-top: -80px;}
	50% {margin-top: -80px;}
	
	60% {margin-top: -120px;}
	70% {margin-top: -120px;}
	
	80% {margin-top: -80px;}
	90% {margin-top: -40px;}
	
	100% {margin-top: 0;}
}

.log-cetach{
  width: 200px;
}

.logo-xp img{
  width: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
}