*{
    margin: 0;
    --voto4:#3dafb7;
    --voto5:#6fb96a;
    --voto3:#fbe23d;
    --voto2:#f4911a;
    --voto1:#e0435a;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);; */
    background: #6EACDA;
    transition: all 0.3s ease;
}

button{
    border: none;
    background: none;
}

.conReacciones{
    width: 100vh;
    height: 20vh;
    display: flex;
    gap: 20px;
    width: auto;
    margin-top: 30vh;
    flex-wrap: wrap;
}

.conEnviar{
    margin-top: 100px;
    text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.conEnviar input{
    padding: 20px 30px;
    border-radius: 10px;
}

.conEnviar button{
    margin-top: 50px;
    padding: 20px 30px;
    cursor: pointer;
}

.reacciones{
    width: 200px;
    cursor: pointer;
    transition: translate 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movimiento{
    translate: 0px -50px;
}

#codigoPersona{
    border-radius: 10px;
    transition-property: translate box-shadow;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
    height: 10px;
}

#codigoPersona:focus{
    translate: 0px -5px;
    box-shadow: 0px 5px;
}

#enviarVoto {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    width: 150px;
    border-radius: 30px;
    color: var(--secondary-color);
    background: var(--hover-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    border: none;
    text-align: center;
}
  
#enviarVoto:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

/* Custom Class */
.c-titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.c-container{
    border-radius: 50px;
}

.c-input{
    border-radius: 15px;
    padding: 10px;
}

.c-confirm{
    background-color: #6fb96a;
}

.c-cancel{
    background-color: #e0435a;
}

@media (max-width: 1250px) {
    .reacciones{
        width: 150px;
    }

    #enviarVoto{
        width: 100px;
    }
}

@media (max-width: 910px) {
    .reacciones{
        width: 125px;
    }

    #enviarVoto{
        width: 100px;
    }
}

@media (max-width: 780px) {
    .reacciones{
        width: 100px;
        margin: 20px;
    }

    .conReacciones{
        align-content: center;
        justify-content: space-around;
    }

    #enviarVoto{
        width: 100px;
    }
}

@media (max-width: 780px){
    #enviarVoto{
        margin-top: 50px;
    }
}