*{
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    background: none;
}

.conReacciones{
    width: 100vh;
    height: 20vh;
    display: flex;
    gap: 20px;
    width: auto;
}

.conEnviar{
    margin-top: 100px;
    text-align: center;
}

.conEnviar input{
    padding: 20px 30px;
    border-radius: 10px;
}

.conEnviar button{
    margin-top: 50px;
    border: 2px solid;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
}

.reacciones{
    width: 200px;
    cursor: pointer;
    transition: translate 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movimiento{
    translate: 0px -50px;
}

#codigoPersona{
    border-radius: 10px;
    transition-property: translate box-shadow;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
}

#codigoPersona:focus{
    translate: 0px -5px;
    box-shadow: 0px 5px;
}

#enviarVoto{
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#enviarVoto span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  #enviarVoto span:nth-child(6) {
    position: relative;
  }
  
  #enviarVoto span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  #enviarVoto span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  #enviarVoto span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  #enviarVoto span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  #enviarVoto span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  #enviarVoto:hover span:not(:nth-child(6)) {
    transform: translate(-60%, -60%) scale(5);
    transition: 1s ease;
  }
